.picture{
  flex-wrap: wrap;
  width: 229px;
  height: 142px;
  margin: 30px 0 0;
  box-shadow: inset 0px  0px 0 1px black;
  overflow: hidden;
}

@media(max-width: 768px) {
  .picture{
  min-width: 280px;
  height: 171px;
  }
}