.appWrapper {
  width: calc(100%);
  min-width: 320px;
  min-height: 100vh;
  padding: 0 20px;
  background-color: antiquewhite;
}

@media (min-width: 768px){
  .appWrapper {
    width: 768px;
    margin: auto;
  }
}